* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background: linear-gradient(green, lime);
  min-height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: scroll;
}

header::-webkit-scrollbar {
  display: none;
}

header div ul {
  display: flex;
  flex-direction: row;
}

header div ul li {
  list-style: none;
  background-color: transparent;
  position: relative;
}

header div ul li a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  white-space: nowrap;
  font-size: 1rem;
  transition: font-size 0.4s;
  border: 1px solid white;
  border-radius: 3px;
  padding: 2px;
}

header div ul li a:hover {
  border-color: transparent;
  color: black;
  border-radius: 7px;
  font-weight: 700;
  padding: 3px;
  font-size: 20px;
  content: "";
  display: block;
  height: 100%;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/784/972/983/clans-clash-coc-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-color 0.4s, color 0.4s, font-size 0.4s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 92vh;
}

.welcome-page {
  background-image: url("https://w0.peakpx.com/wallpaper/346/545/HD-wallpaper-clash-of-clans-town-hall-14-clash-of-clans-games-2021-games-artstation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  position: sticky;
  top: 0px;
}

span {
  background: linear-gradient(
    to right,
    #f15a24,
    #e0123c,
    #c1277d,
    #8c299e,
    #463f71
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: -50px;
  font-size: 34px;
}

footer {
  white-space: break-spaces;
  overflow: scroll;
}

@media (min-width: 700) {
  header {
    flex-wrap: wrap;
  }
}
